<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
  <h2>Welcome to Ehestifter, {{ user.get("name") }}!</h2>

    <ul>
    {% if api_endpoint %}
      <li><a href='/call_api'>Call an API</a></li>
    {% endif %}

    {% if edit_profile_url %}
      <li><a href='{{edit_profile_url}}'>Edit Profile</a></li>
    {% endif %}
    {% if user %}
      <li><a href="{{ url_for('identity.logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('identity.login') }}">Logout</a></li>
    {% endif %}
    </ul>
  <p> </p>

  <p>Time: {{ now }}</p>

  <h1>User Info</h1>
  {% if user %}
    <p>User dump</p>
    <pre>{{ user | tojson(indent=2) }}</pre>
    <p>Session dump</p>
    <pre>{{ session | tojson(indent=2) }}</pre>
  {% else %}
    <p>No user in session.</p>
  {% endif %}
  <hr>
  <footer style="text-align: right">{{ title }}</footer>
</body>
</html>